{% extends "admin/change_form.html" %}
{% block submit_buttons_bottom %} 
    <footer class="grp-module grp-submit-row grp-fixed-footer">
    <header style="display:none"><h1>Submit Options</h1></header>
    <ul>
        {% if show_print_client %}
            <li class="grp-float-left"><a href="imprimir/cliente/" class="grp-button">Imprimir Cliente</a></li>
        {% endif %}
        {% if show_print_public %}
            <li class="grp-float-left"><a href="imprimir/publico/" class="grp-button">Imprimir Publico</a></li>
        {% endif %}
        {% if show_approve %}
            <li><input type="submit" value="Aprovar" class="grp-button grp-default" name="_approve" {{ onclick_attrib }}/></li>
        {% endif %}
        {% if show_save %}
            <li><input type="submit" value="Guardar" class="grp-button grp-default" name="_save" {{ onclick_attrib }}/></li>
        {% endif %}
            
    </ul>
    </footer>
{% endblock %}