{% load proforma_filters %}
<STYLE TYPE="text/css">
    body {
       color:black;
       background-color: #fff;
       font-family: monospace;
       font-size: 9px;
    }
    a:link{color:white}
    a:visited{color:yellow}

    h2, h3, h4, h5 {
        margin-left: 45px;
    }

    span {
        font-weight: bold;
    }

    .minimalistic {
        font-size: 9px;
        margin-left: 45px;
        width: 95%;
        text-align: left;
        border-collapse: collapse;
    }
    
    .minimalistic th {
        padding: 6px 2px;
        font-weight: normal;
        font-size: 11px;
        border-bottom: 1px solid black;
        border-right: 20px solid #fff;
        border-left: 20px solid #fff;
        color: black;
    }

    .minimalistic td {
        padding: 6px 2px 0px 2px;
        border-right: 20px solid #fff;
        border-left: 20px solid #fff;
        color: black;
    }

    .title {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        text-align: center;
    }

    .list {
        border-bottom: 1px solid black;
    }

    .container {
        width: 600px;
    }

    .sign {
        border-top: 1px solid black;
    }

    .space {
        margin-top: 50px;
    }

</STYLE>
<div class="container">
    <table class="minimalistic">
        <tr>
            <td>
                L'HEXAGONE LENCERÍA<br>
                Av. 16 de Julio (El Prado), No1490 - Edif. "Avenida", PB, No7
            </td>
            <td>
                La Paz – Bolivia<br>
                Telf.: (2) 2900178 - 73739600
            </td>
        </tr>
    </table>
    <h2 class="title">PROFORMA DE VENTA</h2>
    <table class="minimalistic">
        <tr>
            <td>
                <span>Numero proforma:</span><br>
                <span>Cliente:</span><br>
                <span>Almacen origen:</span><br>
                <span>Vendedor:</span><br>
                <span>Glosa:</span>             
            </td>
            <td>
                {{proforma.id}}<br>
                {{proforma.client}}<br>
                {{proforma.shop}}<br>
                {{proforma.user}}<br>
                {{proforma.description}}              
            </td>
            <td>
                <!--<span>Precio total:</span><br>-->
                <span>Descuento:</span><br>
                <span>Fecha:</span><br>
                <span>Dias plazo:</span><br>
                <span>Venc. Proforma:</span><br>
                <span>Fecha Inicio Ciclo:</span><br>
                <span>Fecha Cierre Ciclo:</span>
            </td>
            <td>
                <!--{{proforma.total}}<br>-->
                {{proforma.discount}}<br>
                {{proforma.cdate|date:'d/m/Y'}}<br>
                {{proforma.dias_plazo}}<br>
                {{proforma.vencimiento|date:'d/m/Y'}}<br>
                {{proforma.inicio_ciclo|date:'d/m/Y'}}<br>
                {{proforma.cierre_ciclo|date:'d/m/Y'}}<br>
            </td>
        </tr>
    </table>
    <br>
    <h5 class="list"></h5>
    <table class="minimalistic">
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{producto.article}}</td>
            <td>{{producto.quantity}}</td>
            <td>{{producto.price}}</td>
            <td>{{producto.total}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td><h3>Total:</h3></td>
            <th>{{proforma.quantities}}</th>
            <td></td>
            <th>{{proforma.total}}</th>
        </tr>       
    </table>
    {% if devueltos %}
    <h5 class="list">Productos Devueltos</h5>
    <table class="minimalistic">
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
        </tr>
        {% for devuelto in devueltos %}
        <tr>
            <td>{{devuelto.article}}</td>
            <td>{{devuelto.quantity|absolute}}</td>
            <td>{{devuelto.price}}</td>
            <td>{{devuelto.total_price|absolute}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <table class="minimalistic space">
        <tr>
            <td></td>
            <td class="sign">Firma Cliente</td>
            <td></td>
            <td class="sign">Preparado Por</dt>
            <td></td>
        </tr>
    </table>
</div>
