{% load i18n %}
<footer class="grp-module grp-submit-row grp-fixed-footer">
    <header style="display:none"><h1>Submit Options</h1></header>
    <ul>
        {% if show_delete_link %}
            <li class="grp-float-left"><a href="delete/" class="grp-button grp-delete-link">{% trans "Delete" %}</a></li>
        {% endif %}
        {% if True %}
            <li class="grp-float-left"><a href="imprimir/cliente/" class="grp-button">Imprimir Cliente --{{imprimir}}--</a></li>
        {% endif %}
        {% if True %}
            <li class="grp-float-left"><a href="imprimir/publico/" class="grp-button">Imprimir Publico</a></li>
        {% endif %}
        {% if show_save %}
                <li><input type="submit" value="{% trans 'Save' %}" class="grp-button grp-default" name="_save" {{ onclick_attrib }}/></li>
        {% endif %}
    </ul>
</footer>