<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Lhexagone{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles bootstrap3 %}
    {% bootstrap_css %}
</head>
<body>
<div class="container">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</div>
<div class="footer">
    {% bootstrap_javascript %}
</div>
</body>
</html>