{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Lhexagone{% endblock title %}
{% block content %}
    <form class="form-signin" action="{% url 'login' %}"
          method="post"
          class="form-horizontal">
    	{% csrf_token %}
	    {% for field in form %}
	        <label>{{ field.label }}</label>
	        {% if field.errors %}
	            {{ field.errors }}
	        {% endif %}
	        {{ field }}
    	{% endfor %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
{% endblock content %}