{% extends "admin/change_form.html" %}
{% block submit_buttons_bottom %} 
    <footer class="grp-module grp-submit-row grp-fixed-footer">
    <header style="display:none"><h1>Submit Options</h1></header>
    <ul>
        {% if show_save %}
            <li><input type="submit" value="Guardar" class="grp-button grp-default" name="_save" {{ onclick_attrib }}/></li>
        {% endif %}            
    </ul>
    </footer>
{% endblock %}